		.branco {
			color: white;
		}

		.preto {
			color: black;
		}

		.Borda {
			border: 5px groove #54260d;
			padding: 3px;
		}

		.borda-texto {
			display: inline-block;
			border: 4px solid white;
			padding: 20px;
			margin: 10px;
			border-radius: 10px;
			background: black;
			text-decoration: none;
		}

		.centralizar {
			text-align: center;
			background-position: center;
			margin: auto;
		}

		.listas {
			display: flex;
			justify-content: space-around;
			gap: 20px;
		}


		.t30px {
			font-size: 30px;
		}

		.esquerda {
			text-align: left;
			background-position: left;
		}

		.t20px {
			font-size: 20px;
		}

		.noscroll {
			background-attachment: fixed;
		}

		.t40px {
			font-size: 40px;
		}

		.t50px {
			font-size: 50px;
		}

		.direita {
			text-align: right;
			right: 1px;
		}

		.relative {
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 430px;
			right: 0px;
		}

		.direita {
			text-align: right;
		}

		.backgroundblack {
			background: black;
		}

		.hover {
			a:hover {
				background-position: right bottom;
			}

			a:hover {
				color: red;
				background: black;
			}

			a:active {
				color: #b55c2c;
			}
		}

		.menu {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				padding: 5px 20px;
			}

			ul a {
				width: 190px;
				height: 40px;
				display: block;
				color: black;
				text-decoration: none;
				text-indent: 40px;
				line-height: 40px;
				border: 3px solid black;
				background: url(imagens/menu.png) no-repeat left bottom;
			}

			a:hover {
				background-position: right bottom;
			}
		}

		fieldset {
			padding: 1em;
			border: 2px solid saddlebrown;
		}

		legend {
			font-weight: bolder;
		}

		label {
			display: block;
			cursor: pointer;
		}

		textarea {
			width: 200px;
			height: 100px;
		}

		input.radio,
		input.chechbox,
		input.submit {
			width: auto;
		}

		#ct {
			width: 400px;
			height: 300px;
			background-color: rgba(255, 255, 255, 0.3);
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin: 0;
			margin-top: 120px;
		}

		#ct img {
			width: 120px;
			height: 120px;
			margin-top: -60px;
			margin-bottom: 30px;
		}

		.img {
			image-rendering: 100px;
		}

		a {
			color: white;
		}

		h2 {
			color: white;
		}

		a:hover {
			color: red;
		}

		a:active {
			color: #b55c2c;
		}

		a {
			text-decoration: none;
		}

		.wow {
			width: 150px;
			text-align: center;
		}

		input.this {
			height: 40px;
			width: 80%;
			font-size: 16px;
			margin-bottom: 10px;
			background-color: white;
			padding-left: 40px;
			border: none;
			background-repeat: no-repeat;
			background-position: 10px;
		}

		input.nome {
			background-image: url(imagens/icone-usuario.png);
		}

		input.email {
			background-image: url(imagens/email.png);
		}

		input.senha {
			background-image: url(imagens/senha.png);
		}

		input.comentario {
			background-image: url(imagens/comentario.png);
		}

		input.cadeado{
			background-image: url(imagens/icone-cadeado.png);
		}

		input.submit {
			color: white;
			background-color: #54260d;
			border: 2px solid white;
		}

		.BIGSHOT {
			font-size: 30px;
			margin: 5px
		}

		.caixa1,
		.caixa2,
		.caixa3 {
			height: 100%;
			opacity: 1;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		.caixa1 {
			background-image: url(imagens/imagem.png);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.png);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.png);
		}

		.conteudo {
			text-align: justify;
			padding: 50px 80px;
			background: #54260d;
		}

		.fatal_error {
			position: relative;
			top: 0px;
			bottom: 1000px;
			left: 75px;
			right: 0px;
			text-align: right;
			color: red;

			a {
				color: red;
				cursor: wait;
			}
		}

		.fatal_error:hover{
			cursor: default;
		}

		.overflow {
			overflow-x: hidden;
		}

		.radius {
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}

		#sombraB {
			text-shadow: 15px 15px white;
		}

		#sombraP {
			text-shadow: 20px 20px black;
		}

		.line {
			display: inline-block;
		}

		#transicao1:hover {
			width: 500px;
			height: 65px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 65px;
		}

		#transicao2{
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 500px;
			right: 0px;
		}

		#transicao2:hover {
			width: 300px;
			height: 110px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 50px;
			text-align: center;
		}

		#transicao3:hover {
			width: 500px;
			height: 100px;
			background: black;
			color: white;
			transition: all 1.5s;
			font-size: 46px;
			text-align: center;
		}

		#transicaolink:hover {
			transition: all 1.5s;
			font-size: 40px;
			background: white;
			color: black;
		}

		.nodots{
			text-decoration: none;
		}

		#pizzabois{
			height: 200px;
			display: flex;
			justify-content: center;
		}

		.bois{
			border: 3px solid white;
			background-color: #54260d;
			background-size: 100px;
		}
		
footer{
	text-align: center;
}

#box{
height: 20px;
display: inline;
justify-content: left;
border: 3px solid white;
color: white;
background-color: black;
padding: 3px;
}

		@font-face {
			font-family: "PzzTwr";
			src: url("fontes/PzzTwr.woff");
		}

				@font-face {
			font-family: "SuperChiby";
			src: url("fontes/SuperChiby.woff");
		}

				@font-face {
			font-family: "Isaac";
			src: url("fontes/Isaac.woff");
		}

				@font-face {
			font-family: "PzzTwr";
			src: url("fontes/PzzTwr.woff");
		}

		.imagem_star {
			cursor: pointer;
		}

.estrela_frente, .estrela_fundo, #estrela1, .estrela2, #estrela3{
    display: inline-block;
    vertical-align: top;
	align-items: baseline;
}
#estrela1{
	position: relative;
	z-index: 2;
}

  .estrela2 {
    width: 350px;
    height: 350px;
    background-image: url('imagens/estrela_basica.png');
    background-size: cover;
    transition: background-image 1s ease-in;
	cursor: pointer;
  }

  .estrela2:hover {
    background-image: url('imagens/estrela.png');
  }

#estrela3{
	position: relative;
	z-index: 2;
}

.textnoselect{
	user-select: none;
}