		a {
			color: #54260d;
		}

		.fonte {
			font-size: 40px;
			color: #54260d;
		}

		.branco {
			color: white;
		}

		.preto {
			color: black;
		}

		.Borda {
			border: 5px groove #54260d;
			padding: 3px;
		}

		.borda-texto {
			display: inline-block;
			border: 4px solid white;
			padding: 20px;
			margin: 10px;
			border-radius: 10px;
			background: black;
		}

		.centralizar{
			text-align: center;
			background-position: center;
			margin: auto;
		}

		.listas {
			display: flex;
			justify-content: space-around;
			gap: 20px;
		}


		.t30px {
			font-size: 30px;
		}

		.esquerda {
			text-align: left;
			left: 1px;
		}

		.t20px {
			font-size: 20px;
		}

		.noscroll {
			background-attachment: fixed;
		}

		.inline {
			border: 5px groove burlywood;
			padding: 5px;
			display: inline-block;
		}

		.t40px {
			font-size: 40px;
		}

		.t50px {
			font-size: 50px;
		}

		.direita {
			text-align: right;
			right: 1px;
		}

		.relative {
			position: relative;
			top: 0px;
			bottom: 0px;
			left: 430px;
			right: 0px;
		}

		.direita {
			text-align: right;
		}

		.backgroundblack {
			background-color: black;
		}

.hover {
	        a:hover {
            background-position: right bottom;
        }

				a:hover {color: red; background: black;}

		a:active {
			color: #b55c2c;
		}
}

.menu {
	    ul{
        list-style-type: none;
		margin: 0;
        padding: 0;
    }

	    li {
        display: inline-block;
        padding: 5px 20px;}

    ul a {
        width: 190px;
        height: 40px;
        display: block;
        color: black;
        text-decoration: none;
        text-indent: 40px;
        line-height: 40px;
        border: 3px solid black;
        background: url(imagens/menu.png) no-repeat left bottom; }

		        a:hover {
            background-position: right bottom;
        }
}

fieldset {
	padding: 1em;
	border: 2px solid saddlebrown;
}

legend {
	font-weight: bolder;
}

label {
	display: block;
	cursor: pointer;
}

textarea {
	width: 200px;
	height: 100px;
}

input.radio, input.chechbox, input.submit {
	width: auto;
}

#ct {
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0;
	margin-top: 120px;
}

#ct img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

.img {
	image-rendering: 100px;
}

		p {
			color: white;
		}

		a {
			color: white;
		}

		h2 {
			color: white;
		}

		a:hover {
			color: red;
		}

		a:active {
			color: #b55c2c;
		}

		a {
			text-decoration: none;
		}

				.wow {
			width: 150px;
			text-align: center;
		}

					input.this {height: 40px;
			width: 80%;
			font-size: 16px;
			margin-bottom: 10px;
			background-color: white;
			padding-left: 40px;
			border: none;
			background-repeat: no-repeat;
			background-position: 10px;
			}

			input.nome {
				background-image: url(imagens/icone-usuario.png);
			}

			input.email {
				background-image: url(imagens/icone-cadeado.png);
			}
			input.senha {
				background-image: url(imagens/senha.png);
			}

						input.comentario {
				background-image: url(imagens/comentario.png);
			}

			input.submit {
				color: white;
				background-color: #54260d;
				border: 2px solid 	white;
			}

			.BIGSHOT{
				font-size: 30px;
				margin: 5px
			}

	.caixa1, .caixa2, .caixa3 {
    height: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
background-image: url(imagens/imagem.jpg);
}

.caixa2{
background-image: url(imagens/imagem2.jpg);
}

.caixa3{
background-image: url(imagens/imagem3.jpg);
}

.conteudo {
    color: #8b4513;
    text-align: justify;
    padding: 50px 80px;
	background-color: #8b4513;
}

.fatal_error {
	bottom: 0;
	right: 0;
}

.overflow {
	overflow-x: hidden;
}


.isaac {
					@font-face {
			font-family:"Isaac";
			src: url("fontes/Isaac.woff");
		}
		body{
			font-family: Isaac;
		}
}

.pzztwr {
			@font-face {
			font-family:"PzzTwr";
			src: url("fontes/PzzTwr.woff");
		}
		body{
			font-family: PzzTwr;
		}	

}